html{
    font-family: 'Roboto', sans-serif;
    color: white;

    /* source: https://cssgradient.io/ */
    background: linear-gradient(90deg, rgba(34,0,27,1) 0%, rgba(119,9,121,1) 35%, rgba(0,212,255,1) 100%);  
    /* voor later, bewegende achtergrond gradiant https://codepen.io/P1N2O/pen/pyBNzX*/
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
}

h1{
    grid-column: span 3;
    font-size: 2.5em;
    margin: 1em;
}

article {
    /* source: https://cssgradient.io/ */
    /* background: rgb(18,18,18);
    background: radial-gradient(circle, rgba(18,18,18,1) 0%, rgba(34,34,34,1) 100%); */
    border-radius: 10px; 
    /* box-shadow: rgb(36, 36, 36) 5px 5px 40px; */
    display: flex;
    flex-direction: column;
    margin: 1em;
    transition: 0.2s ease-out;
    align-items: center;
}

article:hover{
    transform: scale(1.1);
    cursor: pointer;
}

article p{
    text-transform: uppercase;
    text-align: center;
    padding: 1em;
}

article img{
    border-radius: 10px;
    margin: 2em 3em 0em 3em;
    box-shadow: rgb(36, 36, 36) 5px 5px 40px;
    max-width: 15em
}